<div class="gallery-list-container">
  <ul class="gallery-list">
    <% for (g in theme.gallery) { %>
    <li class="gallery-item">
      <a href="">
        <div class="content">
          <img class="cover" src="<%= theme.gallery[g][0] %>" alt="">
          <span class="name"><%= g %></span>
        </div>
      </a>
    </li>
    <% } %>
  </ul>
</div>
