<div class="fade-in-down-animation">
  <div class="gallery-container">
    <div class="gallery-content markdown-body">
      <% if (page.content) { %>
      <%- page.content %>
      <% } %>
    </div>
    <div class="gallery-list">
      <%- partial('gallery-list') %>
    </div>
  </div>
</div>
