
.gallery-container
	keep-container(false, 0, 0, 30px, 30px)

	.gallery-content
		color var(--default-text-color)

		h1, h2, h3, h4, h5, h6
			&:first-child
				margin-top 0

	.gallery-list-container
		.gallery-list
			position relative

			.gallery-item
				box-sizing border-box
				position relative
				cursor pointer
				width 30%

				.content
					position relative
					box-shadow 1px 1px 2px var(--shadow-color)
					border-radius $friend-link-item-border-radius
					box-sizing border-box
					text-align center

					+keep-tablet()
						padding-left: $friend-link-item-height-tablet - $friend-link-item-interval

					&:hover
						box-shadow 1px 1px 6px var(--shadow-color)

					.name
						font-size 2rem
						font-weight 400

					.cover
						width 100%
						height 100%
						border-top-left-radius $friend-link-item-border-radius
						border-top-right-radius $friend-link-item-border-radius
